{% extends "base.html" %}

{% block content %}
<h2>Device List Configuration</h2>

<form id="deviceForm">
  <label for="deviceID">Device ID:</label>
  <input type="text" id="deviceID" name="deviceID"><br><br>

  <label for="address">Address:</label>
  <input type="text" id="address" name="address"><br><br>

  <button type="submit" onclick="addDevice(event)">Add Device</button>
</form>

<h3>Existing Configurations</h3>
<table id="deviceTable">
  <tr>
    <th>Device ID</th>
    <th>Address</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
</table>
</div>

<script src="../static/main.js"></script>
{% endblock %}